*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #f3f3f3;
}

.container {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#root {
    margin: 20px 0;
    width: 300px;
    height: 500px;
}

#root img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-container {
    text-align: center;
    margin: 20px;
    margin-right: 62px;
}

.pokemon-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pokemon-container img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.pokemon-container h3 {
    margin: 10px 0;
}

.pokemon-container ul {
    list-style-type: none;
    padding: 0;
}

.pokemon-container li {
    font-size: 18px;
}

.error {
    margin-top: 12px;
}
